OPERATOR_STATE_PATH=./public/state.json # Relative to the root of the dashboard (this file)

NEXT_PUBLIC_L1_EXPLORER_LINK=https://mempool-testnet.fractalbitcoin.io
NEXT_PUBLIC_L2_EXPLORER_LINK=https://sepolia.voyager.online
